/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*  */
/*  */
/*  */
:root {
  --side-bar-width: 40vw;
  --color-default: skyblue;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
  display: flex;
}
/* Side-bar */
.side-bar {
  width: var(--side-bar-width);
  height: 100%;
  position: relative;

  color: white;

  background-image: url("images/armand-khoury-Ba6IlmAzl-k-unsplash.jpg");
  background-position: left;
  background-size: cover;
}

.side-bar-logo {
  display: flex;
  position: absolute;
  top: 20%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 100%;

  font-size: 3rem;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: rgba(62, 62, 62, 0.694);
}

.logo {
  height: 3rem;
}

.reference {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: calc(0.5rem + 4px);
}

a {
  color: white;
}

/* Main part */

main {
  width: calc(100vw - var(--side-bar-width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
/* title */
.title {
  padding: 1rem 10rem 1rem 1.5rem;
}
.title p {
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* form */
.form-create-account {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0px;
}

.form-title {
  margin-bottom: 14px;
  font-size: 1.5rem;
  font-weight: 600;
}

.inputs {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-row {
  display: flex;
  margin-bottom: 14px;
}
.form-row label {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(61, 60, 60);
}

.input-row-1,
.input-row-2 {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.input-row-2 {
  margin-left: 1.5rem;
}

.btn-create-container {
  display: flex;
  padding: 1.5rem;
}

.password-requirements ul {
  padding-left: 0.8rem;
}

input[type="password"]:invalid {
  border: solid red;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: var(--color-default);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button[type="submit"]:hover {
  outline: solid steelblue;
}

/* footer */
.login {
  margin-left: 1.5rem;
}

.login a {
  color: var(--color-default);
  text-decoration: none;
  font-weight: 900;
}
