/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*  */
/*  */
/*  */

body {
  font-family: "Roboto", sans-serif;
}
/* left part */
.side-bar {
  width: 30vw;
  height: 100%;
  position: relative;

  color: white;

  background-image: url("images/armand-khoury-Ba6IlmAzl-k-unsplash.jpg");
  background-position: left;
  background-size: cover;
}

.side-bar-logo {
  display: flex;
  position: absolute;
  top: 20%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 100%;

  font-size: 3rem;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: rgba(62, 62, 62, 0.694);
}

.logo {
  height: 3rem;
}

.reference {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: calc(0.5rem + 4px);
}

a {
  color: white;
}

/* right part */

main {
  width: 70vw;
}
